body
{
    background-image: url("img/back.jpg");
    background-repeat: repeat;
}

div#main
{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    background-color: yellow;
}

#top
{
    height: 20%;
    color: black;
}

div#right
{
    float: left;
    width: 40%;
    margin: .6%;
    padding: 5%;
    padding-top: 3%;
    border: 30px solid black;
    background-color: white;
    box-shadow: inset 0px 0px 0px 20px #a10000;
}

div#left
{
    float: left;
    width: 25%;
    margin: .6%;
    margin-left: 9%;
    color: #a10000;
    background-color: black;
}

div.left_div
{
    float: none;
    text-align: center;
    max-width: 100%;
    margin: 10px;
}

img#me
{
    max-width: 70%;
    margin: 5%;
    border: black;
}
img#my_name
{
    max-width: 20%;
    border: black;
    top-margin: 20%;
}

div#name
{
    font-size: 20;
}

a
{
    color: #a10000;
}

li
{
    margin-top:4%;
}

ul
{
    margin-left:-10px;
}
div#new
{
    background-color: white;
    padding-top: 10px;
    padding-bottom: 40px;
    padding-left: -20px;
    padding-right: -20px;
    color: black;
    box-shadow: inset 0px 0px 0px 10px #a10000;
}

span.time
{
    color: #000066;
    font-weight: bold;
}